@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Frank+Ruhl+Libre:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  margin: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.main .part1 {
  display: flex;
  flex-direction: column;
  grid-row: 1;
}
.main .part1-inner1 {
  margin: 10px;
  padding: 50px 10px 10px 10px;
  font-size: 200%;
  text-align: left;
}

.main .part1-inner2 {
  margin: 10px;
  text-align: left;
  text-align: left;
  padding: 10px;
  font-size: 140%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .part3 {
  display: flex;
  flex-direction: column;
  background-color: #a9a19e;
  margin: 0px;
  padding: 0px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  grid-row: 2;
}
.main .part3 {
  padding-top: 40px;
}
.main .part3 .children,
.main .part3 .right,
.main .part3 .old {
  background-color: white;
  width: 70%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
}

.main .part1 .part1-inner1 button {
  display: none;
}

.main .part1 {
  background-color: #a9a19e;
}
.main .part3 {
  padding-bottom: 60px;
}
.main .part2 {
  grid-row: 3;
}
.main .part2 {
  background-color: #fab131;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.main .part2-inner {
  padding: 10px;
  text-align: center;
}
.main .part2-inner h1,
.main .part1-inner1 h1 {
  color: white;
  font-size: 42px;
}

.main .part1-inner2 p,
.main .part2-inner p,
.main .part3 p,
.main .old p,
.main .right p {
  color: rgba(80, 88, 94, 255);
  font-size: 14px;
}
.part2-inner p {
  padding: 0 30px 0 30px;
}
.main .part3 p {
  padding: 0 25px 0 25px;
}
.part3 .children img,
.part3 .right img,
.part3 .old img {
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 992px) {
  .main {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 160vh;
  }

  .main .part1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #a9a19e;
    grid-column: 1/13;
    grid-row: 1/6;
  }

  .main .part1 .part1-inner1 button {
    display: inline-block;
  }
  .main .part1 .part1-inner1 button:hover {
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.3);
  }

  .main .part1-inner1 {
    text-align: left;
    grid-column: 2/6;
    grid-row: 3;
    padding: 0;
  }

  .main .part1-inner2 {
    text-align: left;
    font-size: 90%;
    grid-column: 7/12;
    grid-row: 3;
    padding: 0;
  }

  .main .part1 h1,
  .main .part2-inner h1 {
    font-size: 42px;
  }
  .main .part1-inner2 p,
  .main .part2-inner p,
  .main .part3 p {
    font-size: 16px;
    color: rgba(80, 88, 94, 255);
  }

  .main .part2 {
    background-color: #fab131;
    grid-column: 1/13;
    grid-row: 6/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .main .part2-inner {
    padding: 0 100px 10px 100px;
    grid-column: 2/12;
    grid-row: 10;
  }

  .main .part3 {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    justify-self: center;
    align-items: center;
    grid-column: 1/13;
    grid-row: 4/7;
  }

  .main .part3 .children {
    background-color: white;
    width: 33%;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
  }

  .child2-image {
    border-radius: 15px;
    flex: none;
  }
  .main .part3 .right {
    background-color: white;
    width: 33%;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
  }
  .right2-image {
    border-radius: 15px;
    flex: none;
  }

  .main .part3 .old {
    background-color: white;
    width: 33%;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
  }
  .old2-image {
    border-radius: 15px;
    flex: none;
  }

  .main .part3 p {
    font-weight: 100;
    font-size: 16px;
  }
  .main .part3 h3 {
    font-size: 30px;
  }

  .main .part1-inner1,
  .main .part2 h1 {
    color: white;
  }

  .main .part2 h1,
  .main .part2 p {
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  main .main {
    height: 260vh;
  }
  .main .part1 h1 {
    font-size: 50px;
    width: 100%;
  }
  .main .part1-inner2 p {
    font-size: 26px;
    padding: 0 20px 0 20px;
    line-height: 45px;
  }
  .main .part1-inner1 button {
    margin-top: 100px;
    width: 16rem;
    height: 4rem;
    border-radius: 30px;
    font-size: 14px;
  }

  .main .part2-inner {
    grid-row: 8;
  }
  .main .part2-inner h1 {
    padding-top: 80px;
    font-size: 70px;
  }
  .main .part2-inner p {
    font-size: 26px;
    padding: 0 30px 0 30px;
    line-height: 36px;
  }

  .main .part3 p {
    font-size: 20px;
    padding: 0 20px 0 20px;
  }
}


