/*
FÄRGER:
#F17949
#FAB131
#C7DDEA
#A9A19E


FONT:
Headings (Frank Ruhl Libre)
Paragraphs (Fira Sans)
*/

/* css reset */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* importera fonter */
@font-face {
  font-family: Frank-Ruhl-Libre-Bold;
  src: url("fonts/FrankRuhlLibre-Bold.ttf");
}
@font-face {
  font-family: Fira-Sans-Bold;
  src: url("fonts/FiraSans-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Frank-Ruhl-Libre-Bold;
}

p,
button,
a {
  font-family: Fira-Sans-Bold;
}

/* header mobil css*/

header {
  width: 100%;
}
.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#big-article {
  background-color: #c7ddea;
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
}

#big-article h1 {
  padding: 70px 12px 12px 12px;
  font-size: 42px;
  line-height: 40px;
}

#big-article p {
  padding: 20px 12px 12px 12px;
  font-size: 14px;
  line-height: 25px;
  color: rgba(80, 88, 94, 255);
}

#big-article button {
  background-color: white;
  color: rgba(80, 88, 94, 255);
  font-size: 10px;
  font-weight: 600;
  margin: 30px 0 0 12px;
  padding: 15px;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  width: 9rem;
  cursor: pointer;
}
#big-article button:hover {
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.3);
}
#big-article img {
  padding-top: 70px;
  width: 90%;
  display: flex;
  align-self: center;
}

/* header small articles */
#small-article-1,
#small-article-2 {
  grid-column: 1/13;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#small-article-1 {
  background-color: #f17949;
}
#small-article-2 {
  background-color: #fab131;
}
#small-article-1 p,
#small-article-2 p {
  color: rgba(80, 88, 94, 255);
  font-size: 14px;
}
.header-container h2 {
  padding-top: 10px;
  font-size: 30px;
}
#small-article-1 a,
#small-article-2 a {
  text-decoration: none;
  color: white;
}
#small-article-1 a:hover,
#small-article-2 a:hover {
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
}

/* navbar */
.nav-container {
  grid-column: 1/13;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10rem;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(80, 88, 94, 255);
  text-decoration: none;
  font-size: 14px;
}
nav a:hover {
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}


/*Milda css*/
.main {
  display: grid;
  margin:10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "part1 part1 part1 part1 part1 part1 part1"
  "part1 part1 part1 part1 part1 part1 part1"
  "part2 part2 part2 part2 part2 part2 part2"
  "part2 part2 part2 part2 part2 part2 part2"
  "part3 part3 part3 part3 part3 part3 part3";
  
}
.main .part1 {
  background-color:#A9A19E;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: space-between;
  height:90vh;
  position: relative;
  z-index: 1;
  grid-area: part1;
  
}

.main .part1 .part1-inner1 .button {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 13px;
  display:inline-block;
  margin-top: 50px;
  font-size: 70%;
  position: fixed;
}

.main .part1-inner1{
  margin: 10px 10px 10px 70px;

  text-align: left;
  padding: 50px;
  max-width: 50%;
  height: 50%;
}

.main .part1-inner2 {
  margin: 10px 10px 10px 70px;
  
  text-align: left;
  max-width: 50%;
  height: 50%;
  text-align: left;
  line-height: 1.6;
  padding: 50px 30px 30px 30px;
  font-size: 90%;
 
}



.main .part2 {
  background-color: #FAB131 ;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end; justify-content: center;
  height:100vh;
  grid-area: part2;
  position: relative;
 z-index: 1;
 
}

.main .part2-inner {
  max-width: 500px;
 
}



.main .part3 {
  grid-area: part3;

  display: flex;
  background-color:rgba(0,0,0,0.0);
  justify-content: center;
  margin:50px 10px 10px 10px;
  width: 90%;
  height: 50%;
  z-index: 10;
  grid-row-start: 2;
  
  
  justify-self: center;
  
}

.main .part3 .children {

  background-color: white;
  width:33%;
  height: 110%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.6;
  padding:10px;
  overflow: hidden;
  
}

.child2-image {
  position: static;
  max-width: 100%;
  border-radius: 15px;
  flex: none;

}
.main .part3 .right {
 
  background-color: white;
  width:33%;
  height: 110%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.6;
  padding:10px;
  overflow: hidden;

}
.right2-image {
  position: static;
  max-width: 100%;
  border-radius: 15px;
  flex: none;
}

.main .part3 .old {
  background-color: white;
  width:33%;
  height: 110%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.6;
  padding:10px;
  overflow: hidden;
}
.old2-image {
  
  position: static;
  max-width: 100%;
  border-radius: 15px;
  flex: none;
}

.main .part3 p {
  position: relative;
  font-weight: 100;
}

.main .part1-inner1, .main .part2 h1 {
 color: white;
}

.main .part2 h1, .main .part2 p{
  text-align: center;
}

@media only screen and (max-width: 992px){
  .container{
    grid-template-columns: 1fr;
    
    grid-template-areas: 
    "part1"
    "part3"
    "part2";
    align-self: center;
    justify-self: center;
  
  }
  .main .part1 {
      background-color:#A9A19E;
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      
      height:auto;
      position: static;
      
      
      
  }
  .main .part1-inner1{
      margin: 10px;
    
      text-align: left;
      padding: 50px 10px 10px 10px;
      max-width: 100%;
      height: 100%;
      font-size: 200%;
      line-height: 1;
  }
  
  .main .part1-inner2 {
      margin: 10px;
      
      text-align: left;
      max-width: 100%;
      height: 100%;
      text-align: left;
      line-height: 1.6;
      padding: 10px;
      font-size: 140%;
     
  }

  .main .part3 {
      display: flex;
      flex-direction: column;
      background-color: #A9A19E ;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: auto;
      flex-wrap: nowrap;
      justify-content: center; 
      align-items: center;
  }

  .main .part3 .children, .main .part3 .right, .main .part3 .old {
      background-color:white;
      width: 70%;
     
      margin: 15px;
      border-radius: 15px;
      text-align: center;
      line-height: 1.6;
      padding:0px;
      overflow: hidden;
      
  }
  .child2-image, .right2-image, .old2-image {
      position: static;
      max-width: 90%;
      border-radius: 15px;
      flex: none;
      padding-top: 5px;
  }
  .main .part1 .part1-inner1 .button{
      display: none;
  }
  .main .part1{
      grid-area: part1;
  }
  .main .part3 {
      grid-area: part2;
  }
  .main .part2 {
      grid-area: part3;
  }
  .main .part2 {
      background-color: #FAB131 ;
      display: flex;
      flex-wrap: wrap;
      align-content:center; justify-content: center;
      height:auto;
      
      position: relative;
     
     
  }
  
  .main .part2-inner {
      max-width: 100%;
     padding: 10px;
  }
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
{
  .main .part1 {
      
      height:60vh;
    
  }
  
  .main .part1 .part1-inner1 .button {
      
      position: fixed;
  }
  
  .main .part1-inner1{
      margin: 10px 10px 10px 70px;
    
      text-align: left;
      padding: 50px;
      max-width: 100%;
      height: 50%;
  }
  
  .main .part1-inner2 {
      margin: 10px;
     
      text-align: left;
      max-width: 100%;
      height: 50%;
       }
  .main .part2 {
   
      height:60vh;
       }

  .main .part1 .part1-inner1 .button {
      margin-top: 30px;
      position: relative;
  }

}
/*Mobil css*/
/*main {
    display: grid;
    grid-template-columns: repeat(12,1tr);
}*/
.HowItWorks {
    grid-column: 1 / 13;
}

main > .HowItWorks > #How{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
main > .HowItWorks > #How > h2{
    grid-column: 6 / 7;
    grid-row: 5 / 10;
    font-size: 2.5em;
    font-family: Fira-Sans-Bold;
}

main > .HowItWorks > [id^=cell]{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1em;
    justify-content: center;
    align-items: center;
}
main > .HowItWorks > [id^=cell] > h2{
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: 2em;
    color: rgb(81, 81, 81)
}

main > .HowItWorks > [id^=cell] > p{
    grid-column: 3 / 10;
    grid-row: 4 / 10;
    text-align: center;
    font-size: 1.4em;
}
body {
  background-color: whitesmoke;
  padding-bottom: 2em;
}

#How{
    background-color:#C7DDEA
}
#cell1{
    background-color: whitesmoke;
}
#cell2{
    background-color: #A9A19E
}
#cell3 {
    background-color: white;
}
#cell4{
    background-color: #F17949
}
#cell5{
    background-color: white
}
footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 1em;
    background-color: #A9A19E; 
}
footer section{
  grid-column: 1 / 13;
  grid-row: 1 / 13;
}
footer section .address{
display: flex;
flex-direction: column;
align-items: center;
}

footer section .UpHome{
display: flex;
flex-direction: column;
align-items: center;
}

footer section .UpHome .arrow-up {
height: 14px;
width: 14px;
transform: rotate(45deg);
transform-origin: center center;
border-top: 2px solid black;
border-left: 2px solid black;
}

footer section .UpHome a{
  font-size: 1.4em;
  color: black;
  text-decoration: none;
  font-family: Fira-Sans-Bold;
}

@media screen and (min-width: 992px){
    .HowItWorks {
       display: grid;
       grid-template-columns: repeat(12,1tr);
    }
    #How{
        grid-row: 1;
        grid-column: 1 / 4;
    }
    #cell1{
        grid-row: 1;
        grid-column: 5 / 8;
    }
    #cell2{
        grid-row: 1;
        grid-column: 9 / 13;
    }
    #cell3{
        grid-row: 2;
        grid-column: 1 / 4;
    }
    #cell4{
        grid-row: 2;
        grid-column: 5 / 8;
    }
    #cell5{
        grid-row: 2;
        grid-column: 9 / 13;
    }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 992px) {
  .header-container {
    grid-template-rows: repeat(8, 1fr);
  }

  /* header big-article */
  #big-article {
    grid-area: 1 / 1 / 9 / 7;
  }
  #big-article h1 {
    padding-left: 17px;
  }
  #big-article p {
    font-size: 16px;
    padding-right: 17px;
    padding-left: 17px;
  }
  #big-article button {
    font-size: 12px;
    padding: 16px;
    width: 12rem;
    margin-left: 17px;
  }

  /* header small-article */
  #small-article-1 {
    height: 100%;
    grid-area: 1 / 7 / 5 / 13;
  }
  #small-article-2 {
    grid-area: 5 / 7 / 9 / 13;
    height: 100%;
  }
  #small-article-1 p,
  #small-article-2 p {
    font-size: 16px;
  }

  /*header nav*/
  nav {
    grid-template-columns: repeat(4, 1fr);
    grid-area: 9 / 1 / 11 / 13;
    height: 6rem;
  }
  nav a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  /* header big-article */
  #big-article {
    align-items: center;
  }
  #big-article h1 {
    padding-top: 150px;
    font-size: 85px;
    width: 60%;
    line-height: 80px;
  }
  #big-article p {
    width: 60%;
    font-size: 30px;
    line-height: 50px;
    z-index: 2;
  }
  #big-article button {
    font-size: 14px;
    padding: 20px;
    border-radius: 50px;
    width: 14rem;
    position: absolute;
    top: 38rem;
    left: 12rem;
  }
  #big-article img {
    width: 65%;
    align-self: flex-end;
    padding-top: 0;
    z-index: 1;
  }

  /* header small-article */
  #small-article-1,
  #small-article-2 {
    grid-column: 7/13;
  }

  #small-article-1 h2,
  #small-article-2 h2 {
    font-size: 50px;
    padding-top: 15px;
  }

  #small-article-1 p,
  #small-article-2 p {
    font-size: 18px;
  }

  /* header nav */
  nav {
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    font-size: 18px;
  }
}