@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Frank+Ruhl+Libre:wght@900&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
.main {
  display: grid;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "part1 part1 part1 part1 part1 part1 part1"
    "part1 part1 part1 part1 part1 part1 part1"
    "part1 part1 part1 part1 part1 part1 part1"
    "part2 part2 part2 part2 part2 part2 part2"
    "part2 part2 part2 part2 part2 part2 part2"
    "part2 part2 part2 part2 part2 part2 part2"
    "part3 part3 part3 part3 part3 part3 part3";
}
.main .part1 {
  background-color: #a9a19e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: space-between;
  height: 120vh;
  position: relative;
  z-index: 1;
  grid-area: part1;
}

.main .part1 .part1-inner1 .button {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 13px;
  display: inline-block;
  margin-top: 30px;
  font-size: 70%;
  position: relative;
}

.main .part1-inner1 {
  margin: 10px 10px 10px 70px;

  text-align: left;
  padding: 50px;
  max-width: 60%;
  height: auto;
}

.main .part1-inner2 {
  margin: 10px 10px 10px 70px;
  text-align: left;
  max-width: 60%;
  height: 40%;
  text-align: left;
  line-height: 1.6;
  padding: 50px 30px 30px 30px;
  font-size: 90%;
  position: relative;
}

.main .part1 h1,
.main .part2-inner h1 {
  font-size: 85px;
}
.main .part1-inner2 p,
.main .part2-inner p,
.main .part3 p {
  font-size: 30px;
  color: rgba(80, 88, 94, 255);
}

.main .part2 {
  background-color: #fab131;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  height: 100vh;
  grid-area: part2;
  position: relative;
  z-index: 1;
}

.main .part2-inner {
  max-width: 40%;
  padding-bottom: 10px;
}

.main .part3 {
  grid-area: part3;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  margin: 50px 10px 10px 10px;
  width: 90%;
  height: 50%;
  z-index: 10;
  grid-row-start: 3;
  justify-self: center;
}

.main .part3 .children {
  background-color: white;
  width: 33%;
  height: 75%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
  overflow: hidden;
}

.child2-image {
  position: static;
  max-width: 100%;
  border-radius: 15px;
  flex: none;
}
.main .part3 .right {
  background-color: white;
  width: 33%;
  height: 75%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
  overflow: hidden;
}
.right2-image {
  position: static;
  max-width: 100%;
  border-radius: 15px;
  flex: none;
}

.main .part3 .old {
  background-color: white;
  width: 33%;
  height: 75%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.6;
  padding: 10px;
  overflow: hidden;
}
.old2-image {
  position: static;
  max-width: 100%;
  border-radius: 15px;
  flex: none;
}

.main .part3 p {
  position: relative;
  font-weight: 100;
  font-size: 20px;
}
.main .part3 h3 {
  font-size: 30px;
}

.main .part1-inner1,
.main .part2 h1 {
  color: white;
}

.main .part2 h1,
.main .part2 p {
  text-align: center;
}
*/
.main {
  display: grid;
  margin: 0px;
  /*
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "part1 part1 part1 part1 part1 part1 part1"
    "part1 part1 part1 part1 part1 part1 part1"
    "part1 part1 part1 part1 part1 part1 part1"
    "part2 part2 part2 part2 part2 part2 part2"
    "part2 part2 part2 part2 part2 part2 part2"
    "part2 part2 part2 part2 part2 part2 part2"
    "part3 part3 part3 part3 part3 part3 part3";
    */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.main .part1 {
  display: flex;
  flex-direction: column;
  grid-column-gap: 0px;
  /* height: auto; */
  grid-row: 1;
}
.main .part1-inner1 {
  margin: 10px;
  text-align: left;
  padding: 50px 10px 10px 10px;
  max-width: 100%;
  /* height: 100%; */
  font-size: 200%;
  line-height: 1;
}

.main .part1-inner2 {
  margin: 10px;
  text-align: left;
  max-width: 100%;
  /* height: 100%; */
  text-align: left;
  line-height: 1.6;
  padding: 10px;
  font-size: 140%;
}

.main .part3 {
  display: flex;
  flex-direction: column;
  background-color: #a9a19e;
  margin: 0px;
  padding: 0px;
  width: 100%;
  /* height: auto; */
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  grid-row: 2;
}
.main .part3 {
  padding-top: 40px;
}
.main .part3 .children,
.main .part3 .right,
.main .part3 .old {
  background-color: white;
  width: 70%;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 1.6;
  overflow: hidden;
}
.child2-image,
.right2-image,
.old2-image {
  max-width: 90%;
  border-radius: 15px;
  flex: none;
  padding-top: 5px;
}
.main .part1 .part1-inner1 button {
  display: none;
}

.main .part1 {
  /* grid-area: part1; */
  background-color: #a9a19e;
}
.main .part3 {
  /* grid-area: part2; */
  padding-bottom: 60px;
}
.main .part2 {
  /* grid-area: part3; */
  grid-row: 3;
}
.main .part2 {
  background-color: #fab131;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  /*height: auto;*/
}
.main .part2-inner {
  max-width: 100%;
  padding: 10px;
  text-align: center;
}
.main .part2-inner h1,
.main .part1-inner1 h1 {
  color: white;
  font-size: 42px;
}

.main .part1-inner2 p,
.main .part2-inner p,
.main .part3 p,
.main .old p,
.main .right p {
  color: rgba(80, 88, 94, 255);
  font-size: 14px;
  line-height: 25px;
}
.part2-inner p {
  padding: 0 30px 0 30px;
}
.main .part3 p {
  padding: 0 25px 0 25px;
}

@media only screen and (min-width: 992px) {
  .main {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .main .part1 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #a9a19e;
    height: 100vh;
    /*grid-area: part1;*/
    grid-column: 1/13;
    grid-row: 1/6;
  }

  .main .part1 .part1-inner1 button {
    display: inline-block;
  }
  .main .part1 .part1-inner1 button:hover {
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.3);
  }

  .main .part1-inner1 {
    text-align: left;
    /* height: auto; */
    grid-column: 2/6;
    grid-row: 2;
    padding: 0;
  }

  .main .part1-inner2 {
    text-align: left;
    line-height: 1.6;
    font-size: 90%;
    grid-column: 7/12;
    grid-row: 2;
    padding: 0;
  }

  .main .part1 h1,
  .main .part2-inner h1 {
    font-size: 42px;
  }
  .main .part1-inner2 p,
  .main .part2-inner p,
  .main .part3 p {
    font-size: 16px;
    color: rgba(80, 88, 94, 255);
  }

  .main .part2 {
    background-color: #fab131;
    height: 100vh;
    grid-column: 1/13;
    grid-row: 6/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* grid-area: part2; */
  }

  .main .part2-inner {
    padding: 0 100px 10px 100px;
    grid-column: 2/12;
    grid-row: 10;
  }

  .main .part3 {
    margin-top: 100px;
    /* grid-area: part3; */
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    /* z-index: 1; */
    grid-row-start: 1;
    justify-self: center;
    align-items: flex-start;
    grid-column: 1/13;
    grid-row: 3/8;
  }

  .main .part3 .children {
    background-color: white;
    width: 33%;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    line-height: 1.6;
    padding: 10px;
    overflow: hidden;
  }

  .child2-image {
    max-width: 100%;
    border-radius: 15px;
    flex: none;
  }
  .main .part3 .right {
    background-color: white;
    width: 33%;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    line-height: 1.6;
    padding: 10px;
    overflow: hidden;
  }
  .right2-image {
    max-width: 100%;
    border-radius: 15px;
    flex: none;
  }

  .main .part3 .old {
    background-color: white;
    width: 33%;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    line-height: 1.6;
    padding: 10px;
    overflow: hidden;
  }
  .old2-image {
    max-width: 100%;
    border-radius: 15px;
    flex: none;
  }

  .main .part3 p {
    font-weight: 100;
    font-size: 16px;
  }
  .main .part3 h3 {
    font-size: 30px;
  }

  .main .part1-inner1,
  .main .part2 h1 {
    color: white;
  }

  .main .part2 h1,
  .main .part2 p {
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  .main .part1 h1,
  .main .part2-inner h1 {
    font-size: 60px;
  }
  .main .part1-inner2 p,
  .main .part2-inner p {
    font-size: 25px;
    padding: 0 100px 0 100px;
  }
  .main .part3 p {
    font-size: 20px;
  }
}
